<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>委托信而富匹配借款人</title>
  <script src="../../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../../public/assets/lib/flexible/flexible.js"></script>
  <link href="../../styles/css/base.css" rel="stylesheet" />
  <link href="../../styles/css/invests_deal.css" rel="stylesheet" />
</head>

<body>
  <div class="deal-content match">
    <p>委托信而富，按照出借人服务协议确定的出借资金条件，在满足条件的前提下，有权以出借人名义行使是否最终与借款人建立借贷关系；有权以出借人名义授权指示存管机构根据信而富的要求从出借人的专用存管账户内划款用于放款给借款人。://www.crfchina.com的网页平台、手机移动端计算机应用程序及软件（APP）等，统称为“信而富平台”。
    </p>
  </div>
</body>

</html>