<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>出借人服务协议</title>
  <script src="../../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../../public/assets/lib/flexible/flexible.js"></script>
  <link href="../../styles/css/base.css" rel="stylesheet" />
  <link href="../../styles/css/invests_agreement.css" rel="stylesheet" />
</head>

<body>
  <div class="protocol">
    <p class="protocol-title">《现金贷出借人服务协议》</p>
  </div>
  <div class="party">
    <p class="fl">甲方(出借人)</p>
    <p class="fr name"></p>
  </div>
  <div class="party">
    <p class="fl">联系电话</p>
    <p class="fr name"></p>
  </div>
  <div class="party">
    <p class="fl">通讯地址(住址)</p>
    <p class="fr name"></p>
  </div>
  <div class="party">
    <p class="fl">邮箱</p>
    <p class="fr name"></p>
  </div>
  <div class="party second">
    <p class="fl">乙方</p>
    <p class="fr name">上海信而富企业管理有限公司</p>
  </div>
  <div class="party second">
    <p class="fl">丙方</p>
    <p class="fr name">上海首航商务管理有限公司</p>
  </div>
  <div class="invests-chapter">
    <img src="../../public/image/chapter.png" alt="">
  </div>
  <div class="sh-chapter">
    <img src="../../public/image/sh.png" alt="">
  </div>
  <div class="footer">
    <p class="title">鉴于：</p>
    <p>1）甲方自有合法资金，委托乙方寻找有借款需求的借款人，同意根据乙方的推荐将甲方资金出借给经乙方评估和推荐的现金贷项目借款人，并通过信而富平台进行相关出借交易；</p>
    <p>2）乙方系专业的网络借贷信息中介服务平台，运营信而富平台，寻找有借款意向并符合乙方预测筛选标准的借款人给甲方，为信而富平台的用户达成交易提供信息搜集、资信评估、信息交互、借贷撮合等服务；</p>
    <p>3）甲方以甲方名义在指定资金存管系统下（资金存管系统指基于监管合规要求，由银行开发运营的资金存管系统，为甲方提供存管账户开立、资金保管、资金清算等服务，本协议称为“资金存管系统”，该银行称为“资金存管机构”）开设甲方的个人存管账户（以下称“甲方存管账户”），根据协议约定将出借资金转入该甲方存管账户，并留存在该甲方存管账户内。甲方同意全权委托乙方提供与出借资金有关的后续服务。</p>
    <p>4）为了维护甲方的利益，甲方同意采用丙方授权使用的信用风险评估工具（包括风险评分和决策引擎）对于借款人进行风险评估，并委托丙方对借款人进行信用风险咨询、评估及管理。</p>
    <p> 为此，甲、乙、丙各方根据中华人民共和国《合同法》、《民法通则》及相关法律法规的 规定，双方遵循平等、自愿、互利和诚实信用原则，友好协商，订立本协议，并共同遵守执行。</p>
  </div>
  <div class="footer">
    <p class="first">第1条. 释义</p>
    <p>在本协议中，除非上下文另有解释，下列词语具有以下含义:</p>
    <p>1.1 出借人:指具有合法的闲散资金，同意根据乙方提供的信用评审及推荐，将一定数量资金出借给借款人或以一定数量资金受让第三方债权的个体。本协议项下之甲方即为出借人。</p>
    <p>1.2 借款人:指经乙方推荐与出借人建立借贷关系并得到一定数量出借资金的自然人及法人。信而 富平台项下的借款人包括现金消费类借款人(即借款期限不超过 6 个月，借款金额不超过人民 币 6000 元的借款人)和生活方式类借款人(即借款期限不超过
      3 年，借款金额约为人民币 6000 元至 20 万元的借款人)。</p>
    <p>1.3 甲方存管账户:甲方自主在与乙方建立合作关系的指定资金存管系统下，以甲方自己名字实名开设的个人存管账户，甲方对此账户有完全的控制权，对账户内的资金具备完整的所有权，可 以通过甲方自己的银行账户向该账户转入资金(充值)，或从该账户向甲方指定的自己的银行账
      户转出资金(提现)。
    </p>
    <p>1.4 债权:指每一个具体的借贷关系中出借人拥有的全部权益，债权以人民币计价。</p>
    <p>1.5 工作日:指中华人民共和国法律规定的工作日(法定工作日)。</p>
    <p>1.6 《还款明细说明》:指借款人另行签署的《借款服务协议》或相关协议中，借款人就其借款款项所承诺的本息偿还期限、金额及相关还款计划有关的文件。</p>
  </div>
  <div class="footer last">
    <p class="tip">甲方申明:</p>
    <p>甲方确认在签署本协议前已仔细阅读了本协议及相关附件，对本协议的所有条款及相关条款的内容已经阅悉，均无异议，并对与乙方和丙方合同关系、有关权利、义务、风险和责任条款的法律 含义达成充分的理解，对乙方和丙方所提示的出借资金损失风险有充分的了解和预期，甲方接受自
      主出借行为所产生的收益及风险。
    </p>
  </div>
</body>

</html>