<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>投资合同</title>
  <script src="../../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../../public/assets/lib/flexible/flexible.js"></script>
  <link href="../../styles/css/base.css" rel="stylesheet" />
  <link href="../../styles/css/invests_agreement.css" rel="stylesheet" />
</head>

<body>
  <div class="protocol">
    <p class="protocol-title">《现金贷出借人服务协议》</p>
    <p class="protocol-number">（出资编号：XJDGY1M201704150045）</p>
  </div>
  <div class="party">
    <p class="fl">甲方(出借人)</p>
    <p class="fr name">陈仕勤</p>
  </div>
  <div class="party">
    <p class="fl">联系电话</p>
    <p class="fr name">13601702682</p>
  </div>
  <div class="party">
    <p class="fl">通讯地址(住址)</p>
    <p class="fr name"></p>
  </div>
  <div class="party">
    <p class="fl">邮箱</p>
    <p class="fr name">shiqin_chen@crfchina.com</p>
  </div>
  <div class="party second">
    <p class="fl">乙方</p>
    <p class="fr name">上海信而富企业管理有限公司</p>
  </div>
  <div class="party second">
    <p class="fl">丙方</p>
    <p class="fr name">上海首航商务管理有限公司</p>
  </div>
  <div class="invests-chapter">
    <img src="../../public/image/chapter.png" alt="">
  </div>
  <div class="sh-chapter">
    <img src="../../public/image/sh.png" alt="">
  </div>
  <div class="footer">
    <p class="title">鉴于：</p>
    <p>1）甲方自有合法资金，委托乙方寻找有借款需求的借款人，同意根据乙方的推荐将甲方资金出借给经乙方评估和推荐的现金贷项目借款人，并通过信而富平台进行相关出借交易；</p>
    <p>2）乙方系专业的网络借贷信息中介服务平台，运营信而富平台，寻找有借款意向并符合乙方预测筛选标准的借款人给甲方，为信而富平台的用户达成交易提供信息搜集、资信评估、信息交互、借贷撮合等服务；</p>
    <p>3）甲方以甲方名义在指定资金存管系统下（资金存管系统包括但不限于第三方支付机构、或银行或第三方支付机构与银行合作开发运营的资金</p>
  </div>
</body>

</html>