.border-1px {
  position: relative;
}
.border-1px:after {
  position: absolute;
  content: '';
  top: -50%;
  bottom: -50%;
  left: -50%;
  right: -50%;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  border-bottom: 1px solid #f1f1f1;
}
.common {
  padding-left: 0.39999rem;
  padding-top: 0.39999rem;
}
.common .title {
  font-size: 15px;
  line-height: 15px;
  color: #333333;
  letter-spacing: 0;
  position: relative;
  padding-left: 0.346658rem;
}
[data-dpr='2'] .common .title {
  font-size: 30px;
}
[data-dpr='3'] .common .title {
  font-size: 45px;
}
[data-dpr='2'] .common .title {
  line-height: 30px;
}
[data-dpr='3'] .common .title {
  line-height: 45px;
}
.common .title:before {
  width: 0.079998rem;
  height: 0.39999rem;
  background-color: #FB4F3B;
  position: absolute;
  left: 0;
  content: '';
}
.arrow-right:after {
  position: absolute;
  content: '';
  right: 0;
  width: 0.159996rem;
  height: 0.293326rem;
  background: url(../../public/image/arrow.png) no-repeat;
  background-size: cover;
}
.topBar {
  background-color: #fff;
}
.topBar .top-title {
  text-align: center;
  font-size: 17px;
  color: #333;
  letter-spacing: 0;
  line-height: 1.173304rem;
  position: relative;
}
[data-dpr='2'] .topBar .top-title {
  font-size: 34px;
}
[data-dpr='3'] .topBar .top-title {
  font-size: 51px;
}
.topBar .top-title:before {
  width: 0.53332rem;
  height: 0.53332rem;
  content: '';
  position: absolute;
  background: url(../../public/image/ison.png) no-repeat;
  background-size: cover;
  top: 50%;
  margin-top: -0.26666rem;
  left: 0.453322rem;
}
.protocol {
  height: 1.546628rem;
  width: 100%;
  text-align: center;
  line-height: 1.546628rem;
  background-color: #fff;
}
.protocol .protocol-title {
  font-family: PingFangSC-Regular;
  font-size: 13px;
  color: #333333;
  letter-spacing: 0;
  line-height: 15px;
}
