<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>产品特色</title>
  <script src="../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../public/assets/lib/flexible/flexible.js"></script>
  <link rel="stylesheet" href="../styles/css/base.css">
  <link rel="stylesheet" href="../styles/css/common.css">
  <link rel="stylesheet" href="../styles/css/invests_feature_loan.css">
</head>
<body>
  <div class="line"></div>
  <div class="content">
    <div class="text">
      <div class="left fl">
        <img src="../public/image/Q1.png" alt="">
      </div>
      <div class="right">
        <p>加入计划</p>
        <p>1.1   现金贷共盈是信而富为小额出借客户量身打造的投资计划，锁定投资期限分90天、180天、360天三种。（具体以线上实际情况为准）</p>
        <p>1.2   现金贷共盈每日限时限额开放加入，并有相应的起投金额要求。</p>
        <p>1.3   投资客户加入计划，需在已开通的银行存管系统下个人独立交易账户中有足够的可用余额。可用余额包含已充值至交易账户的金额和已充值在途的金额。（正常情况下，交易账户的充值到账时间为T+0个工作日。）</p>
      </div>
    </div>

    <div class="text">
      <div class="left fl">
        <img src="../public/image/Q2.png" alt="">
      </div>
      <div class="right">
        <p>债权匹配</p>
        <p>债权来源：现金贷共盈计划的债权全部来自于现金贷小额借款项目。</p>
        <p>首次匹配：成功加入计划后的次日开始匹配债权。</p>
        <p>自动复投：锁定投资期内，本金、利息自动循环复投，以帮助投资客户提高资金使用效率并据以获得更高的收益。资金等待出借期间，闲置资金不产生任何收益。</p>
      </div>
    </div>
    <div class="text">
      <div class="left fl">
        <img src="../public/image/Q3.png" alt="">
      </div>
      <div class="right">
        <p>退出计划</p>
        <p>3.1 锁定投资期内，不能提前退出计划。</p>
        <p>3.2 锁定投资期满，投资人可向信而富提交退出申请，以收回投资本金和收益。</p>
      </div>
    </div>
    <div class="text">
      <div class="left fl">
        <img src="../public/image/Q4.png" alt="">
      </div>
      <div class="right">
        <p>收益结算</p>
        <p>4.1   收益结算方式详见合同。  </p>
        <p>4.2 本计划收益率系基于历史数据及业务模型的模拟测算，不代表未来实际收益。投资有风险，不保证收益率，请谨慎选择。</p>
      </div>
    </div>


  </div>
</body>
</html>