<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>投资合同</title>
  <script src="../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../public/assets/lib/flexible/flexible.js"></script>
  <link href="../styles/css/base.css" rel="stylesheet" />
  <link href="../styles/css/invests_agreement.css" rel="stylesheet" />
</head>
<body>
  <div class="protocol">
    <p class="protocol-title">《现金贷出借人服务协议》</p>
    <p class="protocol-number">（出资编号：XJDGY1M201704150045）</p>
  </div>
</body>

</html>