<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <script src="../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../public/assets/lib/flexible/flexible.js"></script>
  <link rel="stylesheet" href="../styles/css/base.css">
  <link rel="stylesheet" href="../styles/css/common.css">
  <link rel="stylesheet" href="../styles/css/invests_product_detail.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>产品详情</title>
</head>
<body>
  <!-- <header class="topBar border-1px">
    <h1 class="top-title">产品详情</h1>
  </header> -->
  <section class="line"></section>
  <section class="infomation">
    <ul>
      <li class="clearfix">
        <div class="methods fl">
          <p>出资方式</p>
        </div>
        <div class="methods-introduce fl">
          <p>一次性出借一定金额给一位或多位现金贷项目借款人</p>
        </div>
      </li>
       <li class="clearfix">
        <div class="methods fl">
          <p>出资金额</p>
        </div>
        <div class="methods-introduce fl">
          <p>人民币1,000元起，出借金额为1,000元的整数倍</p>
        </div>
      </li>
       <li class="clearfix">
        <div class="methods fl">
          <p>收益处理方式</p>
        </div>
        <div class="methods-introduce fl">
          <p>出借人获得的收益（如有），在出借期内用于循环出借</p>
        </div>
      </li>
       <li class="clearfix">
        <div class="methods fl">
          <p>锁定投资期限</p>
        </div>
        <div class="methods-introduce fl">
          <p>180天</p>
        </div>
      </li>
       <li class="clearfix">
        <div class="methods fl">
          <p>计息开始时间</p>
        </div>
        <div class="methods-introduce fl">
          <p>资金出借日（出借资金成功匹配债权日）</p>
        </div>
      </li>
       <li class="clearfix">
        <div class="methods fl">
          <p>退出方式</p>
        </div>
        <div class="methods-introduce fl">
          <p>锁定出借期内，不能提前退出计划。到期自动退出</p>
        </div>
      </li>
       <li class="clearfix">
        <div class="methods fl">
          <p>风险提示</p>
        </div>
        <div class="methods-introduce fl">
          <p>本方案不保证收益率（历史收益率基于历史数据测算，不代表未来收益表现）
出借有风险，请谨慎选择</p>
        </div>
      </li>
    </ul>
  </section>
  
</body>
</html>