<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>新手共赢计划</title>
  <script src="../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../public/assets/lib/flexible/flexible.js"></script>
  <link href="../styles/css/base.css" rel="stylesheet" />
  <link href="../styles/css/invests_detail.css" rel="stylesheet" />
</head>

<body>
  <div id="wrapper">
    <div class="scroll">
      <!-- <header class="topBar border-1px">
        <div class="fl return"><a href="#"><img src="../public/image/ison.png" alt="返回"/></a></div>
        <div class="fr share"><a href="#"><img src="../public/image/ison2.png" alt="返回"/></a></div>
        <div class="top-main">
          <div class="top-title">
            <h1>新手共赢计划3M</h1>
            <h2>(编号: XSGY3MB20170613)</h2>
          </div>
        </div>
      </header>
      <section class="content">
        <div class="con-title clearfix">
          <div class="fr tru">
            <div><span class="border-1px">新手标</span><span class="border-1px">高收益</span></div>
          </div>
          <div class="con-date">
            <sapn>截止日期: 2017-06-20</sapn>
          </div>
        </div>
        <div class="con-rate">
          <h2> <span>期望年收益率</span></h2>
          <div class="con-centory"><strong>7.00<em>%</em></strong></div>
        </div>
        <div class="con-money">
          <ul class="clearfix">
            <li>
              <p> 起投金额</p><span>500元</span>
            </li>
            <li>
              <p> 锁定出借期</p><span>30天</span>
            </li>
            <li>
              <p> 计划金额</p><span>50万元</span>
            </li>
          </ul>
        </div>
        <div class="con-invest">
          <div class="con-progress">
            <p class="clearfix"><span class="fl">进度65%</span><span class="fr">剩余可投20万元</span></p>
            <div class="progress"></div>
          </div>
        </div>
        <div class="con-icon">
          <div class="icon fl"><img src="../public/image/photo4.png" alt="" /><img src="../public/image/photo3.png" alt="" /><img src="../public/image/photo2.png"
              alt="" /><img src="../public/image/photo1.png" alt="" /></div>
          <div class="icon-title fl"><span>...</span><img src="../public/image/photo5.png" alt="" /><span>以有<em>53</em>人投资<img src="../public/image/arrow.png" alt=""/></span></div>
        </div>
      </section>
      <section class="new-person common">
        <h3 class="title">新手优惠</h3>
        <p> <i> </i><span>首次出资送100抵扣券</span></p>
        <p> <i></i><span>累计出资50,000元可获得海岛游抽奖机会一次</span></p>
      </section>
      <section class="task-progress common">
        <h3 class="title">计划进度</h3>
        <div class="task">
          <ul class="clearfix">
            <li>
              <p class="line"><img src="../public/image/step1.png" alt="" /></p>
              <h3>开始确认</h3>
              <h4 class="date">2017-06-20</h4>
            </li>
            <li>
              <p class="line"><img src="../public/image/step2.png" alt="" /></p>
              <h3>匹配债权</h3>
              <h4 class="date">2017-06-21</h4>
            </li>
            <li>
              <p><img src="../public/image/step3.png" alt="" /></p>
              <h3>到期结算</h3>
              <h4 class="date">2017-07-21</h4>
            </li>
          </ul>
        </div>
      </section>
      <section class="select-item">
        <div class="item">
          <ul>
            <li class="border-1px">
              <a href="#">
                <h3>安全等级参考</h3>
                <p>本金、收益可能会有一定幅度的波动</p>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="arrow-right">投资人资格</h3>
                <p>风险承受能力“平衡型”及以上</p>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section class="select-item menu">
        <div class="item">
          <ul>
            <li class="border-1px">
              <a href="#">
                <h3 class="arrow-right">产品详情</h3>
              </a>
            </li>
            <li class="border-1px">
              <a href="#">
                <h3 class="arrow-right">产品特色</h3>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="arrow-right">常见问题</h3>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section class="footer">--资金由恒丰银行存管--</section> -->
    </div>
  </div>

  <!-- <section class="modal">
    <div class="invest">
      <h3 class="border-1px" id="close">投资<i id="close"></i></h3>
      <div class="con">
        <ul>
          <li class="border-1px">
            <p class="con-invest"><span>期望年化收益率&nbsp;7.00%</span><span class="line"></span><span>锁定出借期&nbsp;30天</span></p>
            <h4>投资可用余额：<strong>3666</strong>元</h4>
            <div class="num"><span class="fl">+</span><span class="fr">-</span><span class="number">5000</span></div>
            <p class="money">预期收益：<strong>150</strong>元（同期银行活期收益为1.3元）</p>
          </li>
          <li class="return-me border-1px"><span>选择返现券</span><i class="arrow"></i></li>
          <li class="xieyi">
            <p>
              <button class="checkbox"> </button><span>我已阅读并同意<strong>《现金贷出借人服务协议》、委托信而匹配富借款人</strong></span>
            </p>
          </li>
        </ul>
      </div>
      <footer> <a>马上投资</a></footer>
    </div>
  </section> -->
  <footer id="alert"> <a href="#">马上投资</a></footer>

  <script src="../public/assets/jquery.min.js"></script>
  <script src="../public/assets/artTemplate/template-web.js"></script>   
  <script src="../controllers/invests_detail.js"></script>
  <!-- 模板  -->
  <script type="text/template" id="detail_tpl">

    <!-- <header class="topBar border-1px">
      <div class="fl return"><a href="./invests_list.html"><img src="../public/image/ison.png" alt="返回"/></a></div>
      <div class="fr share"><a href="#"><img src="../public/image/ison2.png" alt="返回"/></a></div>
      <div class="top-main">
        <div class="top">
          <h1>{{ data.productName }}</h1>
          <h2>(编号: {{ data.contractPrefix }})</h2>
        </div>
      </div>
    </header> -->
    <section class="content">
      <div class="con-title clearfix">
        <div class="fr tru">
          <div><span class="border-1px">{{ data.tipsStart }}</span><span class="border-1px">{{ data.tipsEnd }}</span></div>
        </div>
        <div class="con-date">
          <sapn>截止日期: {{ data.closeTime }}</sapn>
        </div>
      </div>
      <div class="con-rate">
        <h2> <span>期望年收益率</span></h2>
        <div class="con-centory"><strong>{{ data.yInterestRate *100 }}<em>%</em></strong></div>
      </div>
      <div class="con-money">
        <ul class="clearfix">
          <li>
            <p> 起投金额</p><span>{{ data.lowestAmount }}元</span>
          </li>
          <li>
            <p> 锁定出借期</p><span>{{ data.freezePeriod }}天</span>
          </li>
          <li>
            <p> 计划金额</p><span>{{ data.planAmount }}万元</span>
          </li>
        </ul>
      </div>
      <div class="con-invest">
        <div class="con-progress">
          <p class="clearfix"><span class="fl">进度{{ data.finishAmount / data.planAmount * 100}}% </span><span class="fr">剩余可投{{ data.planAmount - data.finishAmount}}万元</span></p>
          <div class="progress"></div>
        </div>
      </div>
      <div class="con-icon">
        <a href="./invests_log.html">
          <div class="icon fl"><img src="../public/image/photo4.png" alt="" /><img src="../public/image/photo3.png" alt="" /><img src="../public/image/photo2.png"
              alt="" /><img src="../public/image/photo1.png" alt="" /></div>
          <div class="icon-title fl"><span>...</span><img src="../public/image/photo5.png" alt="" /><span>已有<em>53</em>人投资<img src="../public/image/arrow.png" alt=""/></span></div>
        </a>

      </div>
    </section>
    <section class="new-person common">
      <h3 class="title">新手优惠</h3>
      <p> <i> </i><span>首次出资送100抵扣券</span></p>
      <p> <i></i><span>累计出资50,000元可获得海岛游抽奖机会一次</span></p>
    </section>
    <section class="task-progress common">
      <h3 class="title">计划进度</h3>
      <div class="task">
        <ul class="clearfix">
          <li>
            <p class="line"><img src="../public/image/step1.png" alt="" /></p>
            <h3>开始确认</h3>
            <h4 class="date">{{ data.saleTime }}</h4>
          </li>
          <li>
            <p class="line"><img src="../public/image/step2.png" alt="" /></p>
            <h3>匹配债权</h3>
            <h4 class="date">{{ data.pTime }}</h4>
          </li>
          <li>
            <p><img src="../public/image/step3.png" alt="" /></p>
            <h3>到期结算</h3>
            <h4 class="date">{{ data.endTime }}</h4>
          </li>
        </ul>
      </div>
    </section>
    <section class="select-item">
      <div class="item">
        <ul>
          <li class="border-1px">
            <a href="#">
              <div class="clearfix">
                <span class="safe">安全等级参考</span>
                <span>
                <img src="../public/image/star.png" alt="">
                <img src="../public/image/star.png" alt="">
                <img src="../public/image/star.png" alt="">
                <img src="../public/image/star.png" alt="">
                <img src="../public/image/star2.png" alt="">  
              </span>
              </div>
              <p>本金、收益可能会有一定幅度的波动</p>
            </a>
          </li>
          <li>
            <a href="./evaluating.html">
              <h3 class="arrow-right">投资人资格</h3>
              <p>风险承受能力“平衡型”及以上</p>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="select-item menu">
      <div class="item">
        <ul>
          <li class="border-1px">
            <a href="#">
              <h3 class="arrow-right">产品详情</h3>
            </a>
          </li>
          <li class="border-1px">
            <a href="#">
              <h3 class="arrow-right">产品特色</h3>
            </a>
          </li>
          <li>
            <a href="#">
              <h3 class="arrow-right">常见问题</h3>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="footer">--资金由恒丰银行存管--</section>

  </script>

</body>

</html>