
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>新手共赢计划</title>
    <script src="../public/assets/lib/flexible/flexible_css.js"></script>
    <script src="../public//assets/lib/flexible/flexible.js"></script>
    <link href="../styles/css/base.css" rel="stylesheet"/>
    <link href="../styles/css/invests_log.css" rel="stylesheet"/>
  </head>
  <body>
    <header class="topBar border-1px">
      <h1 class="top-title">投资记录</h1>
    </header>
    <section class="users">
      <h2>共<strong>93</strong>位用户投资</h2>
    </section>
    <section class="concat-list">
      <ul id="user-list">
        <li class="clearfix"><a href="#">
            <p class="picture"><img src="../public/image/user1.png" alt=""/></p>
            <h3 class="fr money">40,000元</h3>
            <p class="tel-cen"><span class="tel">152******00</span><span class="date">2017-06-27&nbsp;13:19:00</span></p></a></li>
        <li class="clearfix"><a href="#">
            <p class="picture"><img src="../public/image/user2.png" alt=""/></p>
            <h3 class="fr money">40,000元</h3>
            <p class="tel-cen"><span class="tel">152******00</span><span class="date">2017-06-27&nbsp;13:19:00</span></p></a></li>
        <li class="clearfix"><a href="#">
            <p class="picture"><img src="../public/image/user3.png" alt=""/></p>
            <h3 class="fr money">40,000元</h3>
            <p class="tel-cen"><span class="tel">152******00</span><span class="date">2017-06-27&nbsp;13:19:00</span></p></a></li>
        <li class="clearfix"><a href="#">
            <p class="picture"><img src="../public/image/user4.png" alt=""/></p>
            <h3 class="fr money">40,000元</h3>
            <p class="tel-cen"><span class="tel">152******00</span><span class="date">2017-06-27&nbsp;13:19:00</span></p></a></li>
        <li class="clearfix"><a href="#">
            <p class="picture"><img src="../public/image/user5.png" alt=""/></p>
            <h3 class="fr money">40,000元</h3>
            <p class="tel-cen"><span class="tel">152******00</span><span class="date">2017-06-27&nbsp;13:19:00</span></p></a></li>
      </ul>
    </section>
    <script src="../controllers/invests_log.js"></script>
  </body>
</html>