<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>信而富理财</title>
  <script src="../../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../../public/assets/lib/flexible/flexible.js"></script>
  <link href="../../styles/css/base.css" rel="stylesheet" />
  <link href="../../styles/css/advantage.css" rel="stylesheet" />
</head>

<body>
  <div class="title clearfix">
    <ul>
      <li>关于我们</li>
      <li>平台优势</li>
      <li>风险控制</li>
    </ul>
  </div>
  <div class="line"></div>
  <div class="content">
    <div class="safe small" id="aboutus">
      <h3>公司简介</h3>
      <ul>
        <li class="item">信而富(NYSE:XRF) 2010年涉足网络借贷信息中介服务，结合在中国17年的风险管理实践经验，为借贷两端的用户提供风险评估、信息交互和借贷撮合等服务。业务范围覆盖全国20多个省及直辖市。基于平台促成的借款交易笔数，信而富是中国最大的网络借贷信息中介平台之一。2017年4月28日，信而富在美国纽约证券交易所挂牌上市，成为2017年首家登陆纽交所的中国企业。</li>
      </ul>
      <h3>企业荣誉</h3>
      <ul class="second">
        <li class="disc">2017</li>
        <li class="item">4月 —— 在美国纽约证券交易所挂牌上市，成为2017年 首家登陆纽交所的中国企业。</li>
        <li class="item">1月 —— 胡润百富2017年中国新金融50强企业。</li>
        <li class="disc">2016</li>
        <li class="item">3月 —— 作为中国互联网金融协会发起人，成为协会首 批会员单位。</li>
        <li class="item">3月 —— 上海市互联网金融行业协会理事单位。</li>
        <li class="disc">2015</li>
        <li class="item">12月- 年度十佳互联网金融企业（由《金融时报》、社科院金融研究所评选）。</li>
        <li class="item">11月- 最佳技术创新互联网金融平台（由《新闻晨报》、腾讯大申网评选）。</li>
        <li class="item">11月- 年度创新移动金融服务平台（由第一财经《陆家嘴》杂志评选）。</li>
        <li class="item">7月- 上海金融信息行业协会副会长单位。</li>
        <li class="item">6月- 最佳商业价值奖（由第一财经《陆家嘴》杂志评选）。</li>
        <li class="item">6月- 最佳普惠金融产品奖（由人民日报社旗下《国际金融报》评选）。</li>
        <li class="disc">2014</li>
        <li class="item">6月- 最佳普惠金融产品奖（由人民日报社旗下《国际金融报》评选）。</li>
        <li class="item">最佳风控互联网金融平台（由《第一财经》和上海陆家嘴金融贸易区管理委员会联合评选）。</li>
        <li class="item">被美国最大的网贷研究机构Lend Academy推选为“中国最重要的网贷公司”。</li>
      </ul>
      <h3>精英团队</h3>
      <ul class="three">
        <li class="item">CEO简介</li>
        <li class="item">王征宇博士</li>
        <li class="disc">美国芝加哥伊利诺伊大学统计学博士</li>
        <li class="disc">上海金融信息行业协会副会长</li>
        <li class="disc">上海市互联网金融行业协会理事</li>
        <li class="disc">中南财经政法大学硕士生导师</li>
        <li class="disc">王征宇博士曾在美国长期从事消费信贷管理工作，负责控制风险、提高价值等综合策略的制定，先后为众多国际著名金融机构提供咨询服务。2001年回国后开展北京首航的业务，开始了信而富的创业历程。公司为国内一半以上的全国性银行提供风险管理服务，为国内第一个征信服务机构以及央行全国性征信中心的筹建提供咨询服务，成为集风险评分、决策引擎、决策策略为一体的国内消费信贷风险控制领先品牌。</li>
      </ul>
      <h3>顾问和董事团队</h3>
      <ul class="four">
        <li class="item">( 人物头像参考官网关于我们-顾问和董事团队 )</li>
        <li class="item bold">世界知名网贷鼻祖、资深行业领袖及金融巨头担任信而富董事和顾问，提供战略支持。</li>
        <li class="item">Phillip Riese</li>
        <li class="disc">全球首家网络信贷平台、英国Zopa董事会董事</li>
        <li class="disc">曾任美国运通（American Express）信用卡服务业务总裁</li>
        <li class="disc">现为信而富顾问</li>
        <li class="item">Nigel Morris</li>
        <li class="disc">美国首家网贷平台Prosper公司董事</li>
        <li class="disc">曾任美国第一资本（Capital One）创始人、总裁</li>
        <li class="disc">1999年被伦敦商学院授予“年度最佳企业家”称号</li>
        <li class="disc">现为信而富顾问</li>
        <li class="item">Frank Rotman</li>
        <li class="disc">美国QED Investors创始人之一</li>
        <li class="disc">曾任美国Capital One分析师</li>
        <li class="disc">现为信而富顾问</li>
        <li class="item">Douglas L. Brown</li>
        <li class="disc">DLB Capital创始人、董事会主席及首席执行官</li>
        <li class="disc">中国平安保险公司和中国建设银行上市顾问</li>
        <li class="disc">曾任摩根士丹利（Morgan Stanley）投资银行董事会副主席</li>
        <li class="disc">现为信而富独立非执行董事</li>
        <li class="item">张化桥</li>
        <li class="disc">曾就职于中国人民银行、深圳控股公司、瑞银集团</li>
        <li class="disc">现为港交所上市公司中国支付通集团董事长</li>
        <li class="disc">现为信而富独立非执行董事</li>
      </ul>
      <h3>合作伙伴</h3>
      <ul class="five">
        <li class="item">（页面参考APP资讯-合作伙伴-信贷决策类）</li>
        <li class="disc">信而富已先后为一半以上的全国性银行及众多金融、科技机构提供各类风险管理服务。</li>
        <li class="disc">中国银行——建立授信评分系统，控制申请授信的风险。</li>
        <li class="disc">中国光大银行——提供借款人风险审核、评估及推荐服务</li>
        <li class="disc">中国建设银行——稳定可持续的风险调整后的收益最大化。</li>
        <li class="disc">深圳发展银行（现更名为平安银行）——提供借款人风险审核、评估及推荐服务。</li>
        <li class="disc">广发银行——开发具有国际先进水平的授信评分系统和策略实施的系统平台。</li>
        <li class="disc">中银消费金融——实现个人消费贷款申请的审批流程和决策引擎系统。</li>
        <li class="disc">兴业银行——开发申请评分卡系统，为申请提供一致的标准，降低成本提高效</li>
        <li class="disc">中国民生银行——开发信审评分卡与申请策略评分卡。</li>
        <li class="disc">华夏银行——实现华夏卡中心申请处理、征信审批、额度管理、欺诈防范的自动化决策体系，并与关联系统建立数据接口，对业务进行跟踪监控，为系统提供常年运营服务。</li>
        <li class="disc">中国证券监督管理委员会</li>
        <li class="disc">中国人民银行</li>
        <li class="disc">中国银联</li>
        <li class="disc">中国移动</li>
      </ul>
    </div>
  </div>

</body>

</html>