<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>信而富理财</title>
  <script src="../../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../../public/assets/lib/flexible/flexible.js"></script>
  <link href="../../styles/css/base.css" rel="stylesheet" />
  <link href="../../styles/css/aboutus.css" rel="stylesheet" />
</head>

<body>
  <div class="news">
    <h3>信而富在美上市，纽交所迎来今年首家中国企业</h3>
    <p class="date">2017-04-29</p>
    <p>信而富在美上市，纽交所迎来今年首家中国企业</p>
    <p> 2017年4月28日，中国领先的网络借贷信息中介平台信而富宣布，公司已正式在美国纽约证券交易所挂牌交易，证券交易代码为“XRF”。信而富成为2017年首家成功登陆纽交所的中国企业。</p>
    <p>信而富首次公开发行1000万股美国存托股票(“ADS”)，每股ADS代表1股A类普通股，定价为每股6美元，在承销商未行使超额配售权的情况下，发行规模为6000万美元。</p>
    <p>根据公司授予承销商的超额配售权，承销商可在招股书发布的30天内，以首次公开发行价格追加购买最多150万股的ADS。</p>
    <div><img src="../../public/image/new4.png" alt=""></div>
    <p>美国东部时间4月28日9时47分，纽交所，信而富CEO王征宇博士敲响交易钟。</p>
    <div><img src="../../public/image/new5.png" alt=""></div>
    <p> 信而富是一家致力于国内消费信贷服务的金融科技公司，基于其平台促成的借款数量，信而富是中国最大的网络借贷信息中介平台之一。信而富运用先进的大数据风控技术，结合在中国17年的风险管理实践经验，致力于为借款人提供便捷且价格合理的信用额度及为出借人提供具备吸引力且基于风险而调整的收益。</p>
    <p>在此次公开发行中，Morgan Stanley & Co. Internationalplc(摩根士丹利国际股份有限公司)、CreditSuisse Securities (USA) LLC(瑞士信贷证券（美国）有限责任公司)、Jefferies LLC担任联席账簿管理人。</p>
  </div>
</body>

</html>