<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>信而富理财</title>
  <script src="../../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../../public/assets/lib/flexible/flexible.js"></script>
  <link href="../../styles/css/base.css" rel="stylesheet" />
  <link href="../../styles/css/aboutus.css" rel="stylesheet" />
</head>

<body>
  <div class="news">
    <h3>信而富入围《中国金融科技企业TOP108榜单》，荣获“年度中国金融安全技术创新奖”</h3>
    <p class="date">2017-04-23</p>
    <p>近年来，金融科技在全球范围内迅速发展，互联网、移动互联网、大数据、区块链、人工智能等技术不断出现并应用于金融，提升了金融体系的效率，科技与金融深度结合的时代已经到来。</p>
    <p>据麦肯锡的数据显示，过去5年，超过400亿美元的资金流入这个领域。在强势资本的支持下，全球已有超过2000家金融科技公司。即便如此，目前业界对金融科技的期待更加聚焦在风控效率、运营效率等“痛点”问题的解决上，特别是在关乎金融机构系统安全，关乎资产信用风险方面。</p>
    <p>在此背景下，由中关村互联网金融研究院和中国互联网金融三十人论坛（CIF30）共同主办的“2017金融科技与金融安全峰会暨‘番钛客2017’金融科技双创大赛颁奖盛典”于2017年6月23日在北京举行。本次论坛以“创新金融科技，夯实安全壁垒”为主题，广邀来自金融科技、金融安全领域的监管人士、学术界代表和知名企业高管，就金融安全、金融科技风控效率、运营效率等热点问题，进行了多角度的探讨。</p>
    <p>中关村互联网金融研究院执行院长、副理事长，国培机构董事长刘勇在峰会上发布了《2017中国金融科技投融资发展研究报告》，详细解读了金融科技的投资融资数据和发展趋势，并揭晓了《中国金融科技企业TOP108榜单》，信而富作为知名金融科技企业荣登榜单。</p>
    <div><img src="../../public/image/new6.png" alt=""></div>
    <p style="text-align:center">信而富入围“中国金融科技企业TOP108”</p>
    <p>刘勇指出，自2016年开始，金融科技概念非常火爆，未来几年都将保持这一态势，预计整体金融科技的业务爆发变现至少需要5年时间。对于未来金融科技行业的投资趋势，刘勇表示，未来行业投资趋势将更加偏向战略投资和并购。</p>
    <p>与会嘉宾指出，借助金融科技，普惠金融正由理想变成现实。金融科技有一个特点，边际成本比较小，甚至是零，正是这种特点才使金融机构能够做普惠金融，由理想变成广泛的社会实践。</p>
    <div><img src="../../public/image/new7.png" alt=""></div>
    <p>信而富风控副总裁吕宇良就反欺诈与消费金融业务创新发表观点（左三）</p>
    <p> 论坛还对年度金融科技先锋人物进行表彰，并颁发“年度中国金融安全技术创新奖”、“年度中国金融大数据风控应用先锋奖”、“年度中国小微金融安全创新奖”以及“年度中国金融科技创新品牌奖”四个类别的企业奖项。信而富荣获“年度中国金融安全技术创新奖”，信而富创始人、董事长及CEO王征宇博士荣获“年度金融先锋科技人物”。</p>
    <div><img src="../../public/image/new8.png" alt=""></div>    
    <p> 本次论坛集合多方优势，通过监管者、学术专家、从业者的深层次交流，有力地促进了金融科技行业的健康发展。</p>
  </div>
</body>

</html>