<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>信而富理财</title>
  <script src="../../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../../public/assets/lib/flexible/flexible.js"></script>
  <link href="../../styles/css/base.css" rel="stylesheet" />
  <link href="../../styles/css/advantage.css" rel="stylesheet" />
</head>

<body>
  <div class="title clearfix">
    <ul>
      <li>关于我们</li>
      <li>平台优势</li>
      <li>风险控制</li>
    </ul>
  </div>
  <div class="line"></div>
  <div class="content">
    <div class="safe small">
      <h3>小额分散</h3>
      <ul>
        <li>先进的技术系统可将投资人的资金自动分散匹配给多个不同的借款人，有效分散风险。</li>
      </ul>
      <h3>风控体系</h3>
      <ul class="second">
        <li>完善的信用评估体系</li>
        <li>借鉴消费信贷行业的全球领先经验，实施覆盖贷前、贷后和贷中全过程的评分模型和风险策略告。</li>
        <li>国际先进的欺诈防范策略系统</li>
        <li>识别和预防欺诈风险，保证借款人及其借款目的的真实性。</li>
        <li>自动标准化决策体系</li>
        <li>开发自动授信决策系统，基于成百上千的数据维度，去除人工判断等主观因素影响，实现精准化授信。</li>
        <li>客户验证中心100%亲访亲核</li>
        <li>100%访问客户家庭、100%访问客户单位、100%征信数据评分、100%核查客户银行信息。</li>
        <li>风控经验丰富，实力雄厚</li>
        <li>深耕信贷行业十七年，拥有丰富的信贷分析与管理经验，曾帮助中国近一半的全国性银行发行信用卡超过一亿张。公司在美国硅谷设有大数据技术研究实验室，研究大数据分析、信用评分模型、人工智能、机器学习等前沿技术。</li>
      </ul>
      <h3>安全性</h3>
      <ul class="three">
        <li>业内率先与恒丰银行合作实现资金存管</li>
        <li>平台实现投资人与借款人点对点直接匹配，没有任何中间转贷交易。投资人和借款人真实匹配，客户资金由银行存管。</li>
        <li><img src="../../public/image/new2.png" alt=""></li>
      </ul>
      <h3>会计事务所审计</h3>
      <ul class="four">
        <li>国内第一家由普华永道出具年度审计报告的网络借贷信息中介机构</li>
        <li>平台实现投资人与借款人点对点直接匹配，没有任何中间转贷交易。投资人和借款人真实匹配，客户资金由银行存管。</li>
      </ul>
    </div>
  </div>

</body>

</html>