<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <script src="../../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../../public/assets/lib/flexible/flexible.js"></script>
  <link href="../../styles/css/base.css" rel="stylesheet" />
  <link href="../../styles/css/bannerContent.css" rel="stylesheet" />
</head>

<body>
  <div class="content">
    <h3>信而富--2017年首家登陆纽交所的中国企业</h3>
    <p class="one">—— 美国纽交所上市公司 ——</p>
    <p>信而富于2017.4.28美国纽约证券交易所上市。(股票代码：XRF )</p>
    <p>信而富严格遵守SEC规定，财务年报公开透明、数据真实准确。</p>
    <p>精彩瞬间：</p>
    <div class="first"><img src="../../public/image/new1.png" alt=""></div>
    <div class="second"><img src="../../public/image/new1.png" alt=""></div>
    <div class="three"><img src="../../public/image/new1.png" alt=""></div>
    <div class="four"><img src="../../public/image/new1.png" alt=""></div>
    <p>上市精彩瞬间，未来精彩无限</p>
    <div class="footer"><p>从2001到2017</p> <p>我们实现了质的飞跃</p> <p>从2017到未来</p> <p>更值得期待</p>
    </div>
  </div>
</body>

</html>