<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>新手福利说明</title>
  <script src="../../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../../public/assets/lib/flexible/flexible.js"></script>
  <link href="../../styles/css/base.css" rel="stylesheet" />
  <link href="../../styles/css/welfare.css" rel="stylesheet" />
</head>
<div>
  <div class="banner"><img src="../../public/image/banner.png" alt=""></div>
  <div class="welfare-content">
    <div class="success-regist">
      <div class="bg">
        <p>完成注册</p>
      </div>
      <p class="tips">送<i>100</i>元红包，适用于全部方案</p>
      <div class="content">
        <div class="fl active-content">
          <p><i>80</i>元</p>
          <p>满5000元可用</p>
          <p>有效期30天</p>
        </div>
        <div class="fl active-content">
          <p><i>20</i>元</p>
          <p>满5000元可用</p>
          <p>有效期30天</p>
        </div>
      </div>

    </div>
    <div class="success-regist">
      <div class="bg">
        <p>完成银行存管开户</p>
      </div>
      <div class="jf"><img src="../../public/image/jf.png" alt=""></div>
      <p class="tip">送<i>10</i>积分</p>
      <p class="jf-cj">积分可用于抽奖和商城兑换</p>
    </div>
    <div class="success-regist">
      <div class="bg">
        <p>完成首次投资</p>
      </div>
      <p class="tips">再送<i>500</i>元红包，适用于180天及以上方案</p>
      <div class="content">
        <div class="fl active-content">
          <p><i>300</i>元</p>
          <p>满100000元可用</p>
          <p>有效期30天</p>
        </div>
        <div class="fl active-content">
          <p><i>200</i>元</p>
          <p>满5000元可用</p>
          <p>有效期30天</p>
        </div>
      </div>
    </div>
    <div class="regular">
      <p class="title">活动规则</p>
      <p>1、返现红包可在信而富理财APP“我的”-“优惠券”中查看，通过APP按优惠券使用说明投资后即可提现，详见优惠券使用规则;
      </p>
      <p>2、现金红包将在投资完成后3个工作日内发至账户，可直接提现；</p>
      <p>3、活动详情可咨询信而富理财，客服热线: <br> 400-688-8692，服务时间：工作日9：00-21：00</p>
    </div>
  </div>
</div>

<body>

</body>

</html>