<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>推荐好友</title>
  <script src="../../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../../public/assets/lib/flexible/flexible.js"></script>
  <link href="../../styles/css/base.css" rel="stylesheet" />
  <link href="../../styles/css/ewmcode.css" rel="stylesheet" />
</head>
<body>
  <div class="top">
    <img src="../../public/image/ewm.png" alt="">
  </div>
  <h3>向好友展示二维码   扫一扫可快速注册</h3>
  <div class="success">
    <p>我邀请注册完成的好友<i>4</i>位</p>
    <p>其中<i>2</i>位成功出资</p>
  </div>
  <div class="log">邀请记录</div>
</body>
</html>