<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>我推荐的用户</title>
  <script src="../../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../../public/assets/lib/flexible/flexible.js"></script>
  <link href="../../styles/css/base.css" rel="stylesheet" />
  <link href="../../styles/css/recommendUser.css" rel="stylesheet" />
</head>

<body>
  <div class="top">
    <div class="successed">
      <p>您邀请注册完成的用户<i>0</i>位</p>
      <p>其中已完成出资的用户有<i>0</i>位</p>
      <p>已获得的奖励：<i>0</i>元</p>
    </div>
    <div class="detail">查看奖金详情</div>
  </div>
  <div class="line">成功推荐的用户 <i>0</i> 位</div>
  <div class="userInfo nouser">
    <img src="../../public/image/kuser.png" alt="">
    <p>你还没有成功邀请朋友哦~</p>
  </div>
</body>

</html>