<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>推荐好友</title>
  <script src="../../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../../public/assets/lib/flexible/flexible.js"></script>
  <link href="../../styles/css/base.css" rel="stylesheet" />
  <link href="../../styles/css/recommend.css" rel="stylesheet" />
</head>

<body>
  <div>
    <div class="topbanner"><img src="../../public/image/topbanner.png" alt=""></div>
    <h3>如何拿奖励</h3>
    <div class="steps">
      <div class="step">
        <p>1.点击页面右上角图标，分享给好友，或点击“我的二维码”，让好友扫描您的二维码；</p>
        <p>2.好友在邀请页面完成注册并成功投资，您可获得10元现金奖励。</p>
        <p>温馨提示：建议您确认完成银行存管下个人独立交易账户的开户，否则推荐奖金无法发送到您的账户中。</p>
      </div>
    </div>
    <div class="clearfix share">
      <div class="log fl">邀请记录</div>
      <div class="ewm fr">查看我的二维码</div>
    </div>
    <h3>活动细则</h3>
    <div class="steps">
      <div class="step">
        <p>1.信而富用户通过转发或扫描邀请好友祖册并完成首次投资，即视为邀请成功。没成功邀请1名好友，将获得10元现金，可直接提现。邀请现金奖励上限为500元。</p>
        <p>（邀请成功：好友通过扫描您的个人二维码或点击您转发的邀请链接成功注册并出资）</p>
        <p>2.邀请现金红包将由信而富在10个工作日内放入您银行存管下个人独立交易账户；</p>
        <p>3.该活动仅限用户通过信而富理财APP参与。</p>
      </div>
    </div>

  </div>
</body>

</html>