<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>新手共盈计划3MB</title>
  <script src="../public/assets/lib/flexible/flexible_css.js"></script>
  <script src="../public/assets/lib/flexible/flexible.js"></script>
  <link href="../styles/css/base.css" rel="stylesheet" />
  <link href="../styles/css/invests_detail.css" rel="stylesheet" />
</head>

<body>
  <div id="wrapper">
    <div class="scroll">
      <!-- 模板的坑 -->
      <section class="content">
        <div class="con-title clearfix">
          <div class="fr tru">
            <!-- <div><span class="border-1px" id="f"></span><span class="border-1px" id="s"></span></div> -->
          </div>
          <div class="con-date">
            <sapn>截止日期: </sapn>
          </div>
        </div>
        <div class="con-rate">
          <h2> <span>期望年收益率</span></h2>
          <div class="con-centory"><strong><em>%</em></strong></div>
        </div>
        <div class="con-money">
          <ul class="clearfix">
            <li>
              <p> 起投金额</p><span>元</span>
            </li>
            <li>
              <p> 锁定出借期</p><span>天</span>
            </li>
            <li>
              <p> 计划金额</p><span>万元</span>
            </li>
          </ul>
        </div>
        <div class="con-invest">
          <div class="con-progress">
            <p class="clearfix"><span class="fl">进度% </span><span class="fr">剩余可投万元</span></p>
            <div class="progress">
              <div class='success-progress' style='width:%'></div>
            </div>
          </div>
        </div>
        <div class="con-icon">
          <a href="./invests_log.html">
            <div class="icon fl"><img src="" alt="" /><img src="" alt="" /><img src="" alt="" /><img src="" alt="" /></div>
            <div class="icon-title fl"><span>...</span><img src="" alt="" /><span>已有<em></em>人投资<img src="" alt=""/ class="arrow"></span></div>
          </a>

        </div>
      </section>
      <section class="new-person common">
        <h3 class="title">新手优惠</h3>
        <p> <i> </i><span>首次出资送100抵扣券</span></p>
        <p> <i></i><span>累计出资50,000元可获得海岛游抽奖机会一次</span></p>
      </section>
      <section class="task-progress common">
        <h3 class="title">计划进度</h3>
        <div class="task">
          <ul class="clearfix">
            <li>
              <p class="line"><img src="../public/image/step1.png" alt="" /></p>
              <h3>开始确认</h3>
              <h4 class="date"></h4>
            </li>
            <li>
              <p class="line"><img src="../public/image/step2.png" alt="" /></p>
              <h3>匹配债权</h3>
              <h4 class="date"></h4>
            </li>
            <li>
              <p><img src="../public/image/step3.png" alt="" /></p>
              <h3>到期结算</h3>
              <h4 class="date"></h4>
            </li>
          </ul>
        </div>
      </section>
      <section class="select-item">
        <div class="item">
          <ul>
            <li class="border-1px">
              <a href="javascript:;">
                <div class="clearfix type">
                  <h3 class="safe">安全等级参考</h3>
                  <span>
                    <img src="../public/image/star.png" alt="">
                    <img src="../public/image/star.png" alt="">
                    <img src="../public/image/star.png" alt="">
                    <img src="../public/image/star.png" alt="">
                    <img src="../public/image/star2.png" alt="">  
                  </span>
                </div>
                <p>本金、收益可能会有一定幅度的波动</p>
              </a>
            </li>
            <li>
              <a href="./evaluating.html">
                <h3 class="arrow-right">投资人资格</h3>
                <p>风险承受能力“平衡型”及以上</p>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section class="select-item menu">
        <div class="item">
          <ul>
            <li>
              <a href="./invests_feature.html">
                <h3 class="arrow-right">产品详情</h3>
              </a>
            </li>
            <li>
              <a href="./invests_feature_loan.html">
                <h3 class="arrow-right">产品特色</h3>
              </a>
            </li>
            <li>
              <a href="./invests_loan_detail.html">
                <h3 class="arrow-right">常见问题</h3>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section class="footer">--资金由恒丰银行存管--</section>
    </div>
  </div>

  <script src="../public/assets/jquery.min.js"></script>
  <script src="../public/assets/artTemplate/template-web.js"></script>
  <script src="../../config/config.js"></script>
  <script src="../controllers/invests_detail.js"></script>
  <!-- 模板  -->
  <script type="text/template" id="detail_tpl">

    <section class="content">
      <div class="con-title clearfix">
        <div class="fr tru">
          <div>{{ if data.tipsStart }}<span class="border-1px">{{ data.tipsStart }}</span>{{ /if }} {{ if data.tipsEnd }}
            <span class="border-1px">{{ data.tipsEnd }}</span>{{ /if }}</div>
        </div>
        <div class="con-date">
          <sapn>截止日期: {{ data.closeTime }}</sapn>
        </div>
      </div>
      <div class="con-rate">
        <h2> <span>期望年收益率</span></h2>
        <div class="con-centory"><strong>{{ data.yInterestRate }}<em>%</em></strong></div>
      </div>
      <div class="con-money">
        <ul class="clearfix">
          <li>
            <p> 起投金额</p><span>{{ data.lowestAmount }}元</span>
          </li>
          <li>
            <p> 锁定出借期</p><span>{{ data.freezePeriod }}天</span>
          </li>
          <li>
            <p> 计划金额</p><span>{{ data.planAmount/10000 }}万元</span>
          </li>
        </ul>
      </div>
      <div class="con-invest">
        <div class="con-progress">
          <p class="clearfix"><span class="fl">进度{{ data.progress }}% </span><span class="fr">剩余可投{{ (data.planAmount - data.finishAmount)/10000}}万元</span></p>
          <div class="progress">
            <div class='success-progress' style='width:{{ 100-data.progress}}%'></div>
          </div>
        </div>
      </div>
      <div class="con-icon">
        <a href="./invests_log.html?contractPrefix={{ data.contractPrefix }}" id='link'>
          <div class="icon fl"><img src="../public/image/photo4.png" alt="" /><img src="../public/image/photo3.png" alt="" /><img src="../public/image/photo2.png"
              alt="" /><img src="../public/image/photo1.png" alt="" /></div>
          <div class="icon-title fl">
            <span>...</span><img src="../public/image/photo5.png" alt="" />
            <span>已有<em>0</em>人投资<img src="../public/image/arrow.png" alt=""/></span></div>
        </a>

      </div>
    </section>
    <section class="new-person common">
      <h3 class="title">新手优惠</h3>
      <p> <i> </i><span>首次出资送100抵扣券</span></p>
      <p> <i></i><span>累计出资50,000元可获得海岛游抽奖机会一次</span></p>
    </section>
    <section class="task-progress common">
      <h3 class="title">计划进度</h3>
      <div class="task">
        <ul class="clearfix">
          <li>
            <p class="line"><img src="../public/image/step1.png" alt="" /></p>
            <h3>开始确认</h3>
            <h4 class="date">{{ data.saleTime }}</h4>
          </li>
          <li>
            <p class="line"><img src="../public/image/step2.png" alt="" /></p>
            <h3>匹配债权</h3>
            <h4 class="date">{{ data.pTime }}</h4>
          </li>
          <li>
            <p><img src="../public/image/step3.png" alt="" /></p>
            <h3>到期结算</h3>
            <h4 class="date">{{ data.endTime }}</h4>
          </li>
        </ul>
      </div>
    </section>
    <section class="select-item">
      <div class="item">
        <ul>
          <li class="border-1px">
            <a href="javascript:;">
              <div class="clearfix type">
                <h3 class="safe">安全等级参考</h3>
                <span>
                <img src="../public/image/star.png" alt="">
                <img src="../public/image/star.png" alt="">
                <img src="../public/image/star.png" alt="">
                <img src="../public/image/star.png" alt="">
                <img src="../public/image/star2.png" alt="">  
              </span>
              </div>
              <p>本金、收益可能会有一定幅度的波动</p>
            </a>
          </li>
          <li>
            <a href="./evaluating.html">
              <h3 class="arrow-right">投资人资格</h3>
              <p>风险承受能力“平衡型”及以上</p>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="select-item menu">
      <div class="item">
        <ul>
          <li>
            <a href="./invests_feature.html">
              <h3 class="arrow-right">产品详情</h3>
            </a>
          </li>
          <li>
            <a href="./invests_feature_loan.html">
              <h3 class="arrow-right">产品特色</h3>
            </a>
          </li>
          <li>
            <a href="./invests_loan_detail.html">
              <h3 class="arrow-right">常见问题</h3>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="footer">--资金由恒丰银行存管--</section>

  </script>

  <script type="text/template" id="user_tpl">
     {{ if data.lsirr.length }} 
    <div class="icon fl"><img src="{{ data.lsirr[0].headImgUrl }}" alt="" /><img src="{{ data.lsirr[1].headImgUrl }}" alt="" /><img src="{{ data.lsirr[2].headImgUrl }}"
        alt="" /><img src="{{ data.lsirr[3].headImgUrl }}" alt="" /></div>
    <div class="icon-title fl"><span>...</span><img src="{{ data.lsirr[4].headImgUrl }}" alt="" /><span>已有<em>{{ data.count }}</em>人投资<img src="../public/image/arrow.png" alt=""/></span></div>
     {{ /if }} 
  </script>

</body>

</html>