.border-1px {
  position: relative;
}
.border-1px:after {
  position: absolute;
  content: '';
  top: -50%;
  bottom: -50%;
  left: -50%;
  right: -50%;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  border-bottom: 1px solid #f1f1f1;
}
.common {
  padding-left: 0.39999rem;
  padding-top: 0.39999rem;
}
.common .title {
  font-size: 15px;
  line-height: 15px;
  color: #333333;
  letter-spacing: 0;
  position: relative;
  padding-left: 0.346658rem;
}
[data-dpr='2'] .common .title {
  font-size: 30px;
}
[data-dpr='3'] .common .title {
  font-size: 45px;
}
[data-dpr='2'] .common .title {
  line-height: 30px;
}
[data-dpr='3'] .common .title {
  line-height: 45px;
}
.common .title:before {
  width: 0.079998rem;
  height: 0.39999rem;
  background-color: #FB4F3B;
  position: absolute;
  left: 0;
  content: '';
}
.arrow-right:after {
  position: absolute;
  content: '';
  right: 0;
  width: 0.333325rem;
  height: 0.333325rem;
  background: url(../../public/image/more.png) no-repeat;
  background-size: cover;
}
.topBar {
  background-color: #fff;
}
.topBar .top-title {
  text-align: center;
  font-size: 17px;
  color: #333;
  letter-spacing: 0;
  line-height: 1.173304rem;
  position: relative;
}
[data-dpr='2'] .topBar .top-title {
  font-size: 34px;
}
[data-dpr='3'] .topBar .top-title {
  font-size: 51px;
}
.topBar .top-title:before {
  width: 0.53332rem;
  height: 0.53332rem;
  content: '';
  position: absolute;
  background: url(../../public/image/ison.png) no-repeat;
  background-size: cover;
  top: 50%;
  margin-top: -0.26666rem;
  left: 0.453322rem;
}
body {
  background-color: #fff;
}
.title li {
  width: 33.3%;
  height: 1.06664rem;
  line-height: 1.06664rem;
  float: left;
  text-align: center;
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
}
[data-dpr='2'] .title li {
  font-size: 28px;
}
[data-dpr='3'] .title li {
  font-size: 42px;
}
.line {
  height: 0.213328rem;
  background: #F5F5F5;
}
.content .safe {
  padding: 0.39999rem;
}
.content .safe h3 {
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  font-weight: 700;
}
[data-dpr='2'] .content .safe h3 {
  font-size: 32px;
}
[data-dpr='3'] .content .safe h3 {
  font-size: 48px;
}
.content .safe li {
  list-style: disc;
  font-size: 14px;
  color: #2A2A2A;
  line-height: 0.373324rem;
  margin: 0.39999rem 0;
  margin-left: 0.333325rem;
  padding-left: 0.199995rem;
}
[data-dpr='2'] .content .safe li {
  font-size: 28px;
}
[data-dpr='3'] .content .safe li {
  font-size: 42px;
}
.content .rate {
  padding: 0.293326rem 0.39999rem 0.39999rem;
  border-top: 1px solid #E2E2E2;
}
.content .rate li {
  float: left;
  width: 25%;
}
.content .rate:last-child {
  border-bottom: 1px solid #E2E2E2;
}
.content .small .second li:nth-child(2n),
.content .small .three li:nth-child(2n),
.content .small .four li:nth-child(2n) {
  list-style: none;
}
.content .small h3 {
  padding-top: 0.39999rem;
}
.content .small h3:first-child {
  padding-top: 0;
}
.content .small li {
  font-size: 14px;
  color: #666666;
  line-height: 0.586652rem;
}
[data-dpr='2'] .content .small li {
  font-size: 28px;
}
[data-dpr='3'] .content .small li {
  font-size: 42px;
}
#aboutus {
  font-size: 14px;
  color: #666666;
  line-height: 0.373324rem;
}
[data-dpr='2'] #aboutus {
  font-size: 28px;
}
[data-dpr='3'] #aboutus {
  font-size: 42px;
}
#aboutus ul > li {
  list-style: none;
}
#aboutus ul > li.item {
  margin-left: -0.199995rem;
}
#aboutus ul > li.disc {
  list-style: disc;
}
#aboutus ul > li.bold {
  color: #333;
}
#aboutus h3 {
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 0.426656rem;
}
[data-dpr='2'] #aboutus h3 {
  font-size: 32px;
}
[data-dpr='3'] #aboutus h3 {
  font-size: 48px;
}
